<?xml version="1.0" encoding="UTF-8" ?>

<Configuration>

	<Appender name="console" target="SYSTEM_OUT" class="ch.qos.logback.core.ConsoleAppender">
		<Layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level %logger{40} - %msg%n
			</Pattern>
		</Layout>
	</Appender>


	<Root level="info">
		<Appender-Ref ref="console" />
	</Root>

</Configuration>